---
layout: default
title:  "Articles | Paoletti &amp; Gusmano, Attorneys at Law | Bridgeport Connecticut"
description: Want a not-guilty verdict? Defend your rights by contacting the skilled Bridgeport criminal defense attorneys of Paoletti &amp; Gusmano.
---

<div id="containerPageTitle">
<h1 id="pageTitle">Articles</h1>
</div>
<div id="content">

  <ul class="post-list">
	{% for post in site.posts %}		
	  {% if post.categories contains 'articles' %}
		<div class="item">
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
		  <p>{{post.description}}</p>  
		</div>
	  {% endif %}
	{% endfor %}
  </ul>
</div>
