---
layout: default
---


<div id="containerPageTitle">
<h1 id="pageTitle">{{ page.title }}</h1>
</div>
<div id="content">
	{{page.content}}
	
</div>
</div>
<div id="columnAlternate">
<div id="containerForm">
<h4 id="shortFormTitle" class="offscreen">Free Legal Consultation</h4>
<div id="containerIntakeFormShortAutofill">

<form method="post" name="intakeFormShortAutofill" id="intakeFormShortAutofill" class="formAutoFill">
<label>
<strong>Bold</strong> labels are required.
</label>
<input type="hidden" name="email_subject" value="Paoletti Law Message From Paolettilaw.net"/>
<input type="hidden" name="thankyouPage" value="Thank-You"/>
<fieldset>
<legend><span>Contact Information</span></legend>
<label for="intakeFormShortName">Name</label>
<div class="formHighlight">
<input type="text" name="email_name" id="intakeFormShortName" title="Name"/>
</div>
<label for="intakeFormShortEmail"><strong>E-mail Address</strong><img height="15" width="15" alt="This field is required." src="/design/images/formRequired.gif"/></label>
<label for="intakeFormShortEmail" class="formHide"><strong>Please enter a valid e-mail address.</strong></label>
<div class="formHighlight">
<input type="text" name="email_address" id="intakeFormShortEmail" class="validate email" title="E-mail Address"/>
</div>
<label for="intakeFormShortPhone">Phone</label>
<div class="formHighlight">
<input type="text" name="phone_number" id="intakeFormShortPhone" title="Phone"/>
</div>
<label for="intakeFormShortMessage">Brief description of your legal issue</label>
<div class="formHighlight">
<textarea name="email_message" id="intakeFormShortMessage" title="Brief description of your legal issue" rows="4" cols="15"></textarea>
</div>
<div class="formCheck">
<label for="intakeFormShortDisclaimerCheck" class="formHide">
<strong>Please verify that you have read the disclaimer.</strong>
</label>
<label for="intakeFormShortDisclaimerCheck">
<input type="checkbox" name="Read disclaimer:||r|Please verify that you have read the disclaimer." id="intakeFormShortDisclaimerCheck" class="validate checkbox" value="yes"/>
<strong>I have read the <span>disclaimer.</span></strong>
</label>
<strong>
<a class="intakeFormShortDisclaimerLink" href="/Paoletti/Disclaimer.html">disclaimer</a>.</strong>
</div>
<input class="intakeFormHiddenInput" type="hidden" id="checkboxDisclaimerIntakeFormShort" name="cgi|checkboxDisclaimerIntakeFormShort" value="Read disclaimer:||r|Please verify that you have read the disclaimer."/>
<div id="intakeFormShortDisclaimer">
<div>
<p>
The use of the Internet or this form for communication with the firm or any individual member of the firm does not establish an attorney-client relationship. Confidential or time-sensitive information should not be sent through this form.
</p>
<a href="#intakeFormShortDisclaimerCheck" rel="nofollow">close</a>
</div>
</div>
</fieldset>
<p class="intakeFormShortPrivacy">
<a href="/Paoletti/Privacy-Policy.html">Privacy Policy</a>
</p>
<input type ="image" src="/design/images/formSubmitShort.gif" name="Submit" value="Send" type="submit" class="submit" alt="Submit" id="intakeFormShortAutofillSubmit"/>
</form>
</div>
</div>
			
					
	<div id="containerVideo">
	  <video id="div_video" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto" width="306" height="180" poster="/design/images/video/ui-id-1.jpg" data-setup="{}">  
		<source src=""  type="video/mp4">
		<source src=""  type="video/ogg">
		<source src=""  type="video/webm">
	  </video>
	</div>

	<br/>

		
	  <fieldset id="vid">
    <label style="font-weight: bold; font-size: 18px;" for="filesB">Select a Video:</label>
    <select name="filesB" id="filesB">
      <option rel="01" type="button" value="mypodcast" data-class="video">Overview:  Paoletti & Gusmano, Attorneys at Law handles all aspects of Criminal Defense.</option>
      <option rel="02" type="button" value="myvideo" data-class="video">Drug Charges: In a Drug Charge case we look at all the option, such as the validity of the arrest, the search, and the stop.</option>
      <option rel="03" type="button" value="myrss" data-class="video">DUI Charges:  The Alcohol Education Program is a diversionary program where a person can avoid being prosecuted.</option>
      <option rel="04" type="button" value="myrss" data-class="video">Domestic Violence:  There are many consequences that can be associated with the conviction on a domestic violence charge.</option>

	</select>
  </fieldset>


<div id="containerLogos">
<ul>
<li><img src="/design/images/logos-mill.png" alt="Million Dollar Advocates Forum" width="101" height="100"/></li>
<li><img src="/design/images/logos-nacdl.png" alt="National Association of Criminal Defense Lawyers | 50th Anniversary" width="102" height="100"/></li>
<li><img src="/design/images/logos-atla.png" alt="ATLA | Association of Trial Lawyers of America" width="101" height="100"/></li>
<li><img src="/design/images/logos-av.png" alt="Distinguished AV | LexisNexis Martindale-Hubbell Peer Review Rated for Ethical Standards and Legal Ability" width="304" height="67"/></li>
<li><img src="/design/images/super-lawyer.gif" id="superLawyer" alt="Super Lawyers" width="200" height="84"/></li>
</ul>
</div>
</div>
</div>
<div id="columnSide">

