---
layout: default
---


<div id="containerPageTitle">
<h1 id="pageTitle">{{ page.title }}</h1>
</div>
<div id="content">
	{{page.content}}
	
</div>
</div>
<div id="columnAlternate">
<div id="containerForm">
<h4 id="shortFormTitle" class="offscreen">Free Legal Consultation</h4>
<div id="containerIntakeFormShortAutofill">
<p>
<strong>Bold</strong> labels are required.
</p>
<form method="post" action="/cgi-bin/emailservice.cgi" name="intakeFormShortAutofill" id="intakeFormShortAutofill" class="formAutoFill">
<input name="serverTime" type="hidden" value="1410990068"/>
<input type="hidden" name="SubscriptionID" value="1623651"/>
<input type="hidden" name="email_subject" value="Findlaw FirmSite Message From SiteDomain"/>
<input type="hidden" name="removeFLBranding" value="false"/>
<input type="hidden" name="guid" value="oTTmlTH0Ytcmr8llEFuJjrYamr0Hh/X7LtGKD6fztaJSGVfhZvz+OqOjOd5LdJDWulg9BLtz+oMDErw0dizPovRo4afKcjEQxrDZ6p8nQl7BVujl5aOVELIPRR35pn+g/ozQJPONI8gVAa6oQlHutmo5kAfHvqTUiC/m5ez8Lu0="/>
<input type="hidden" name="wld_id" value="2304720"/>
<input type="hidden" name="thankyouPage" value="Thank-You"/>
<fieldset>
<legend><span>Contact Information</span></legend>
<label for="intakeFormShortName">Name</label>
<div class="formHighlight">
<input type="text" name="Name|at:name||Please enter your name." id="intakeFormShortName" title="Name"/>
</div>
<label for="intakeFormShortEmail"><strong>E-mail Address</strong><img height="15" width="15" alt="This field is required." src="/design/images/formRequired.gif"/></label>
<label for="intakeFormShortEmail" class="formHide"><strong>Please enter a valid e-mail address.</strong></label>
<div class="formHighlight">
<input type="text" name="E-mail Address|at:email|r|Please enter a valid e-mail address." id="intakeFormShortEmail" class="validate email" title="E-mail Address"/>
</div>
<label for="intakeFormShortPhone">Phone</label>
<div class="formHighlight">
<input type="text" name="Phone|at:phone||Please enter a valid phone number. You may use 0-9, spaces and the ( ) - + characters." id="intakeFormShortPhone" title="Phone"/>
</div>
<label for="intakeFormShortMessage">Brief description of your legal issue</label>
<div class="formHighlight">
<textarea name="Brief description of your legal issue|at:message||Please describe your legal issue." id="intakeFormShortMessage" title="Brief description of your legal issue" rows="4" cols="15"></textarea>
</div>
<div class="formCheck">
<label for="intakeFormShortDisclaimerCheck" class="formHide">
<strong>Please verify that you have read the disclaimer.</strong>
</label>
<label for="intakeFormShortDisclaimerCheck">
<input type="checkbox" name="Read disclaimer:||r|Please verify that you have read the disclaimer." id="intakeFormShortDisclaimerCheck" class="validate checkbox" value="yes"/>
<strong>I have read the <span>disclaimer.</span></strong>
</label>
<strong>
<a class="intakeFormShortDisclaimerLink" href="/Paoletti/Disclaimer.html">disclaimer</a>.</strong>
</div>
<input class="intakeFormHiddenInput" type="hidden" id="checkboxDisclaimerIntakeFormShort" name="cgi|checkboxDisclaimerIntakeFormShort" value="Read disclaimer:||r|Please verify that you have read the disclaimer."/>
<div id="intakeFormShortDisclaimer">
<div>
<p>
The use of the Internet or this form for communication with the firm or any individual member of the firm does not establish an attorney-client relationship. Confidential or time-sensitive information should not be sent through this form.
</p>
<a href="#intakeFormShortDisclaimerCheck" rel="nofollow">close</a>
</div>
</div>
</fieldset>
<p class="intakeFormShortPrivacy">
<a href="/Paoletti/Privacy-Policy.html">Privacy Policy</a>
</p>
<input type="image" src="/design/images/formSubmitShort.gif" name="Submit" value="Submit" class="submit over" alt="Submit" id="intakeFormShortAutofillSubmit"/>
</form>
</div>
</div>
<div id="containerVideo">
<div id="flashVideo_Video">
<div id="video_Video" class="findlawPlayer dropDown tiny">
<object id="myExperience_Video" class="BrightcoveExperience" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000">
<param name="objectID" value="myExperience_Video"/>
<param name="@videoPlayer" value="956322120001"/>
<param name="@playlistTabs" value="955385631001"/>
<param name="@playlistTabs.featured" value="955385631001"/>
<param name="@playlistCombo" value="955385631001"/>
<param name="@playlistCombo.featured" value="955385631001"/>
<param name="@videoList" value="955385631001"/>
<param name="@videoList.featured" value="956322120001"/>
<param name="movie" value="http://video-transcripts.findlaw.com/html5/swf/dots.swf"/>
<param name="bgcolor" value="#FFFFFF"/>
<param name="width" value="288"/>
<param name="height" value="324"/>
<param name="playerID" value="732020067001"/>
<param name="playerKey" value="AQ~~,AAAAADqBmOk~,Bp73JJAqj94Hssuo82rmDgrQ9vw3Fgzp"/>
<param name="isVid" value="true"/>
<param name="isUI" value="true"/>
<param name="dynamicStreaming" value="true"/>
<param name="SubscriptionID" value="1623651"/>
<param name="hasTranscripts" value="true"/>
<param name="autoStart" value="false"/>
<param name="guid" value="nXMGKmabq35/0B8xVv0gQ0Pam32WHlmz97KjydyicRzd7LnWGBWCaz/h7Anj2TGWNOjQr23KN1RV7NXIlBr+IOqrNEs+T2ClQOXTkWSoLKMyYcyVaA5Yn/ohnKrD5lVCZyvE8EOn0z5mVNUizEqbA1cIGGHRrUkA+IWmv1sAb2M="/>
<param name="wld_id" value="2304720"/>
<param name="email_subject" value="Web site message from www.paolettilaw.net : Contact"/>
<param name="domainName" value="www.paolettilaw.net"/>
<param name="showDropdown" value="true"/>
<param name="layoutBoxes" value="http://www.paolettilaw.net/content/css/Video/layoutBoxes.css"/>
<param name="css" value="mediaControls=http://www.paolettilaw.net/content/css/Video/mediaControls.css&amp;videoList=http://www.paolettilaw.net/content/css/Video/videoList.css&amp;playlistCombo=http://www.paolettilaw.net/content/css/Video/playlistCombo.css"/>
<h3>Bridgeport Criminal Defense Attorneys Video</h3>
<p>http://www.paolettilaw.net 888-854-6907 Paoletti &amp; Gusmano in Bridgeport, Connecticut handles all aspects of criminal defense from homicide to motor vehicle cases. The attorneys have over 50 years of combined experience. </p>
</object>
</div>
</div>
</div>
<div id="containerLogos">
<ul>
<li><img src="/design/images/logos-mill.png" alt="Million Dollar Advocates Forum" width="101" height="100"/></li>
<li><img src="/design/images/logos-nacdl.png" alt="National Association of Criminal Defense Lawyers | 50th Anniversary" width="102" height="100"/></li>
<li><img src="/design/images/logos-atla.png" alt="ATLA | Association of Trial Lawyers of America" width="101" height="100"/></li>
<li><img src="/design/images/logos-av.png" alt="Distinguished AV | LexisNexis Martindale-Hubbell Peer Review Rated for Ethical Standards and Legal Ability" width="304" height="67"/></li>
<li><img src="/design/images/super-lawyer.gif" id="superLawyer" alt="Super Lawyers" width="200" height="84"/></li>
</ul>
</div>
</div>
</div>
<div id="columnSide">

<div id="navigationBlog">
		<ul class="tag-box inline">
		{% assign tags_list = site.tags %}  
		  {% if tags_list.first[0] == null %}
			{% for tag in tags_list %} 
			  <li><a href="#{{ tag }}">{{ tag | capitalize }} <span>{{ site.tags[tag].size }}</span></a></li>
			{% endfor %}
		  {% else %}
			{% for tag in tags_list %} 
			  <li><a href="#{{ tag[0] }}">{{ tag[0] | capitalize }}</a></li>
			{% endfor %}
		  {% endif %}
		{% assign tags_list = nil %}
		</ul>

<!-- {% for cat in site.categories %} 
  <h2 id="{{ cat[0] }}">{{ cat[0] | capitalize }}</h2>
  <ul class="post-list">
    {% assign pages_list = cat[1] %}  
    {% for post in pages_list %}
      {% if post.title != null %}
      {% if group == null or group == post.group %}
      <li><a href="{{ site.url }}{{ post.url }}">{{ post.title }}<span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></a></li>
      {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </ul>
{% endfor %} -->
		<section id="categories" class="group nav-categories"> 
			<h4>Categories</h4> 
				<ul> 
					<li class="itemFirst item-first"><a href="/blog/criminal-defense/">Criminal Defese {{cd}}</a></li>
					<li><a href="/blog/domestic-violence/">Domestic Violence (19)</a></li> 
					<li><a href="/blog/drug-charges/">Drug Charges (48)</a></li> 
					<li><a href="/blog/drunk-driving/">Drunk Driving (32)</a></li> 
					<li class="itemLast item-last"><a href="/blog/violent-crimes/">Violent Crimes (24)</a></li> 	
				</ul> 
		</section> 
		
		<section id="archives" class="group nav-archives"> 		
			<h4>Archives</h4> 
				<ul> 
					<li class="itemFirst item-first"><a href="/blog/2014/09/">September 2014 (3)</a></li>
					<li><a href="/blog/2014/08/">August 2014 (5)</a></li>
					<li><a href="/blog/2014/07/">July 2014 (4)</a></li> 
					<li><a href="/blog/2014/06/">June 2014 (4)</a></li> 
					<li><a href="/blog/2014/05/">May 2014 (5)</a></li> 
					<li><a href="/blog/2014/04/">April 2014 (3)</a></li> 
					<li><a href="/blog/2014/03/">March 2014 (5)</a></li> 
					<li><a href="/blog/2014/02/">February 2014 (4)</a></li> 
					<li><a href="/blog/2014/01/">January 2014 (4)</a></li>
					<li><a href="/blog/2013/12/">December 2013 (5)</a></li>
					<li><a href="/blog/2013/11/">November 2013 (5)</a></li> 
					<li><a href="/blog/2013/10/">October 2013 (4)</a></li> 
					<li class="itemLast item-last"><a href="/blog/archives.shtml">Complete Archives</a></li> 
				</ul> 
		</section> 
				
		<section id="recentPosts" class="group nav-recent-posts"> 
			<h4>Recent Posts</h4> 
				<ul> 
					<li class="itemFirst item-first"><a href="/blog/2014/09/criminal-charges-the-importance-of-the-pretrial-conference.shtml">Criminal charges: The importance of the pretrial conference</a></li>
					<li><a href="/blog/2014/09/drug-charges-what-you-need-to-know.shtml">Drug charges: What you need to know</a></li> 
					<li><a href="/blog/2014/09/drunk-driving-possible-penalties.shtml">Drunk driving: Possible penalties</a></li> 
					<li class="itemLast item-last"><a href="/blog/2014/08/domestic-violence-does-there-have-to-be-physical-proof.shtml">Domestic violence: Does there have to be physical proof?</a></li> 
				</ul> 
		</section>
	</div>